.Sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  transition: width 0.3s;
  position: relative;
}

.switchers {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

.lang {
  margin-left: 20px;
}

.lang_collapsed {
  margin: 0;
}

.SidebarToggle {
  position: absolute;
  right: -40px;
  bottom: 40px;
}

.links {
  margin: 20px 0 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon {
  display: flex;
  gap: 5px;
  fill: var(--bg-color);
}

.collapsed {
  width: var(--sidebar-width-collapsed);
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  align-items: center;

  .link {
    opacity: 0;
    width: 0;
    transition: opacity 0.2s;
  }
}
