.app.dark {
  --bg-color: #042379;
  --inverted-bg-color: #ffe4c4;

  --primary-color: #1f8700;
  --secondary-color: #24ff00;

  --imverted-primary-color: #004a66;
  --imverted-secondary-color: #00b6ff;

}