:root,
.app_green_theme {
  --bg-color: #4db6ac;
  --inverted-bg-color: #81c784;
  --code-bg: #82b7b2;
  --primary-color: #e0e0e0;
  --secondary-color: #e0e0e0;
  --imverted-primary-color: #0f4c00;
  --imverted-secondary-color: #1aff00;

  // skeleton
  --skeleton-color: #81c784;
  --skeleton-shadow: #0f4c00;

  //card
  --card-bg-color: #296c66;
}
