:root,
.app_light_theme {
  --bg-color: #ffe4c4;
  --inverted-bg-color: #002895;
  --primary-color: #3163ea;
  --secondary-color: #0092ce;
  --inverted-primary-color: #1a9000;
  --inverted-secondary-color: #21f100;
}
