.Navbar {
  width: 100%;
  display: flex;
  background: var(--inverted-bg-color);
  height: var(--navbar-height);
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 0 20px 0 20px;
}
.links {
  display: flex;
  gap: 20px;
}