.Navbar {
  width: 100%;
  display: flex;
  background: var(--inverted-bg-color);
  height: var(--navbar-height);
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  padding-right: 20px;
}