.ProfilePageHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;

  .editBtn {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.btnsWrapper {

}
