.ArticlesDetailsPage {
  width: 100%;
}

.commentTitle {
  margin-top: 20px;
}

.recommendation {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}
